@page "/converter"
<h3>ConverterRazor</h3>


<input value="@inches" @onchange="UpdateValue" type="number" />
<p>The value of inches is: @inches</p>

@code {

    double inches = 1;

    void UpdateValue(ChangeEventArgs e)
    {
        double val = 0;
        double.TryParse(e.Value.ToString(), out val);
        inches = val;
    }

}