@inject IJSRuntime js
@using Geo
@page "/"
@using RazorClassLibrary1
<h1>Hello, world!</h1>



<Component1></Component1>

<button @onclick="ShowPrompt">Show Prompt</button>

@code {
    string message = "world";
    async Task ShowPrompt()
    {


        ExampleJsInterop exampleJsInterop = new ExampleJsInterop(js);

        message = await exampleJsInterop.Prompt("Say hello:");
    }
}

@if (hasGeoLocation)
{
    <p>Browser has GeoLocation</p>
}
@if (position != null)
{
    <p>
        Current position: @position.Coords.Latitude Lat,
        @position.Coords.Longitude Long
    </p>
    <p>Positioin reported at: @position.Timestamp</p>
}
@switch (error)
{
    case PositionError.PERMISSION_DENIED:
        <p>GeoLocation Permisson Denied</p>
        break;
    case PositionError.POSITION_UNAVAILABLE:
        <p>GeoLocation Position Unavailable</p>
        break;
    case PositionError.TIMEOUT:
        <p>GeoLocation Timeout</p>
        break;
    default:
        break;
}


@code {
    Position position;
    PositionError error;
    bool hasGeoLocation;
    void OnSuccess(Position p)
    {
        position = p;
        StateHasChanged();
    }
    void OnError(PositionError e)
    {
        error = e;
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var geo = new Geolocation(js);
            hasGeoLocation = await geo.HasGeolcationFeature();
            StateHasChanged();
            var options = new PositionOptions()
            {
                EnableHighAccuracy = false,
                Timeout = 200,
                MaximumAge = 0
            };
            await geo.GetCurrentPosition(OnSuccess, OnError, options);
        }
    }
}
